/********** STYLES GLOBAUX **********/
    /* Importation de la typographie Raleway */
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700&display=swap');
    /* Mise en place de la typo */
    *{
        font-family: 'Raleway';
    }
    /* Scrollbar */
        ::-webkit-scrollbar{
            width: 5px;
        }
        ::-webkit-scrollbar-thumb {
            background-color: grey;
            border-radius: 5px;
        }
        ::-webkit-scrollbar-track {
            background-color: transparent;
        }
        ::-webkit-scrollbar-button{
            background-color: transparent;
        }
    /* Hauteur de la navbar horizontale */
    .navbar-height{
        height: 60px;
    }
    #infos_perso_form_email:focus-visible{
        outline-style: none!important;
    }
    /* Bordure de la navbar horizontale */
    .nav-top{
        border-bottom: 1px solid #C3C5C6;
    }
    /* Image de profil dans les parametres */
    .img-profil-parametres{
        width: 150px!important;
    }
    /* Flèche page précédente */
    .nav-top-previous{
        position: absolute;
        left: 200px;
    }
    .col-h{
        height: 90%;
    }
    /* Ligne vertical du menu horizontale */
    .vl{
        border-left: 1px solid grey!important;
        height: 100%!important;
    }
    /* Largeur des pages (ONLINE) */
    .content-w{
        width: calc(100vw - 180px)!important;
        margin: 0 0 0 auto!important;      
    }
    /* Dégradé du form de la page connexion */
    .shadow-login{
        -webkit-box-shadow: 0px 0px 15px 5px rgba(102,102,102,0.63); 
        box-shadow: 0px 0px 15px 5px rgba(102,102,102,0.63);
    }

    .list-parametres{
        list-style: none;
    }
    .list-parametres li{
        padding: 5px 0;
    }
    /* Hauteur des pages (OFFLINE) */
    .content-h{
        height: calc(100vh - 60px)!important;
    }
    /* Supprime le bouton de la barre latérale */
    .nav-button{
        display: none;
    }
    /* Taille du logo de la navbar */
    #navbar-img{
        width: 160px;
    }
    /* Reset des hovers sur les liens */
    a:hover{
        color: inherit;
    }

    .col-cs-h1{
        height: 50px!important;
    }
    /* Marge interne sur toutes les pages */
    .layout-content{
        padding: 0 200px!important;
    }
    /* Taille des images de notes (étoiles) */
    .img-stars{
        width: 15px;
        height: 15px;
    }
    /* Largeur du menu lateral */
    .offcanvas{
        width: 180px!important;
    }
    /* Pas d'animation de scroll sur le menu */
    #offcanvasScrolling{
        transition: none;
    }
    /* Taille du boutton de scroll du menu */
    .icon-size{
        font-size: 20px;
    }
    /* Taille des icones de navbar */
    .icon-size-navbar{
        font-size: 15px;
    }
    /* Désactivation des tables (onglets de la page recherche) */
    .table-display{
        display: none;
    }
    /* Barres de recommandation et réputation */
    .container-bar{
        width: 150px;
        height: 15px;
        padding: 3px 0;
    }
    .bar{
        height: 100%;
        background-color: green;
    }
    /* Tailles de police */
    .fs55{font-size: 55px!important;}.fs20{font-size: 20px!important;}.fs18{font-size: 18px!important;}.fs15{font-size: 15px!important;}.fs14{font-size: 14px!important;}.fs13{font-size: 13px!important;}.fs12{font-size: 12px!important;}.fs11{font-size: 11px!important;}.fs10{font-size: 10px!important;}

/********** COLORS **********/
    /* Couleur de background black */
    .bg-csblack{
        background-color: #202020!important;
    }
    /* Couleur de background rouge */
    .bg-csred{
        background-color: #DC143C!important;
    }
    /* Couleur de background lightgrey */
    .bg-cslightgrey{
        background-color: #ffffff!important;
    }
    /* Couleur de background grey */
    .bg-csgrey{
        background-color: #ebebeb!important;
    }
    /* Couleur de background grey plus foncé */
    .bg-csdarkgrey{
        background-color: #d7d7d7;
    }
    /* Couleur de texte black */
    .text-csblack{
        color: #202020!important;
    }
    /* Couleur de texte rouge */
    .text-csred{
        color: #DC2026!important;
    }
    /* Décoration des liens */
    a{
        text-decoration: none!important;
        color: #202020;
    }

/********** HOVER **********/
    /* Boutons outline */
    .btn-outline-dark:hover{
        background-color: #DC2026!important;
    }
    /* Texte gris en hover */
    .hover-csblack:hover{
        color: #424649!important;
    }
    /* Texte rouge en hover  */
    .hover-csred:hover{
        color: #DC2026!important;
    }
    /* Texte rouge en hover (pour texte rouge)  */
    .hover-csredlight:hover{
        color: #DC7070!important;
    }
    /* Texte gris en hover (pour texte gris) */
    .hover-csblack:hover{
        color: rgb(82, 87, 0)!important;
    }
    
/********** FOCUS **********/
    /* Input */
    input:focus{
        box-sizing: border-box;
        box-shadow: none!important;
        border-color: black!important;
    }
    /* Icone burger */
    .navbar-toggler:focus{
        box-shadow: none!important;
    }
    /* Boutons */
    .btn:focus{
        box-shadow: none!important;
    }

/********** BACKGROUND **********/

    .bg-grad{
        background: rgb(236,236,236);
        background: linear-gradient(180deg, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 100%);    /* Background dégradé du header */
    }
    /* Image de background du header */
    .header-col{
        background-image: url('../../images/bg_header.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        width: 1680px;
    }
    /* Background des vignettes d'article (pelicule) */
    .news-row article{
        background-image: url('../../images/bg_actu.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* Background de la page inscription */
    .inscription{
        background-image: url('../../images/design/bg_inscription.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 121.5px);
    }

    /* Background de la page connexion */
    .login{
        background-image: url('../../../images/design/bg_connexion.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 121.5px);
    }

/* Container des vignettes */
.news-row article div{
    width:160px;
    height:160px;
    overflow: hidden;
}


.news-content{
    padding: 0 30px;
}

/* Responsive */

/* xs */
@media only screen and (max-width: 300px){
    /* Taille du titre */
    .inscription-email h1 span, .inscription-date h1 span, .inscription-password h1 span{
        font-size: 30px!important;
    }
    /* Taille du logo de la navbar */
    #navbar-img{
        display: none;
    }
}

/* sm */
@media only screen and (max-width: 576px){
    .nav-top{
        border: none;
        height: 100vh;
        align-items: start!important;
    }
    .nav-top-profil{
        position: absolute!important;
        bottom: 0;
        right: 0;
        margin-right: 7px;
        margin-bottom: 15px;
    }
    .nav-top-budget i{
        display: none;
    }
    .nav-top-budget{
        position: absolute!important;
        bottom: 0;
        right: 50%;
        transform: translate(50%);
        font-size: 15px;
        margin-bottom: 15px;
    }
    .nav-top-date span{
        display: none;
        position: absolute;
        bottom: 40px;
        left: 15px;
        width: 130px;
        text-align: center;
        background-color: white;
        border: 1px solid grey;
        padding: 5px;
        border-radius: 50px;
    }
    .nav-top-date{
        position: absolute!important;
        bottom: 0;
        left: 0;
        flex-direction: column;
        margin-left: 7px;
        margin-bottom: 12px;
    }
    .nav-top-vl{
        display: none;
    }
    .shadow-login{
        height: 100vh!important;
        background-color: rgba(248, 249, 250, 0.9)!important;
    }
    /* Hauteur de 100% du bloc connexion */
    .res-full{
        height: 100vh!important;
    }
    /* Menu lateral prend toute la largeur de l'écran */
    .offcanvas{
        width: 100vw!important;
        height: 100vh!important;
    }
    /* Child de offcanvas */
    .offcanvas-body{
        height: 100vh!important;
    }
    /* Taille du logo de la navbar */
    #navbar-img{
        width: 150px;
    }
    /* Logo de la navbar verticale */
    .navbar-logo{
        width: 60%;  
    }
    .offcanvas-body .nav-item{
        font-size: 20px;
    }
    /* Largeur des inputs */
    #inscription_form_email, #inscription_form_plainPassword{
        width: 100%!important;
    }
    /* Largeur et hauteur des boutons */
    #emailBtn, #dateBtn, #passwordBtn{
        width: 90%!important; 
        height: 80px!important;
    }
}

/* md */
@media only screen and (max-width: 768px){
    .nav-top-previous{
        left: 50px;
    }
}

/* lg */
@media only screen and (max-width: 992px){
    /* Hauteur du bloc de barre de recherche (responsive) */
    .offcanvas-lg{
        height: 70px!important;
    }
}

/* xl */
@media only screen and (max-width: 1200px){
    /* Affiche le bouton de slide du menu latéral */
    .nav-button{
        display: block;
    }

    #offcanvasResponsive{
        height: 150px;
    }
}

/* xxl */
@media only screen and (max-width: 1400px){
    /* Marge interne sur toutes les pages */
    .layout-content{
        padding: 0!important;
    }
}

