{% extends 'base.html.twig' %}

{% block title %}Cinéma Studio{% endblock %}

{% block body %}
   <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-2 col-md-12 bg-dark vh-100 d-flex align-items-center justify-content-center">
            <p class="text-light">Page d'accueil</p>
        </div>
    </div>
   </div>
{% endblock %}
