<h1>Validation de votre compte</h1>

<p>
    Vous avex crée un compte sur Cinéma Studio. Vous trouverez ci-dessous un lien vous permettant de finaliser votre inscription. <br><br>
    <a href="{{ signedUrl }}">Valider l'inscription</a><br><br>
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À bientôt sur Cinéma Studio !
</p>
