{{ form_start(barreDeRechercheForm) }}
{{ form_widget(barreDeRechercheForm.q) }} <button class="btn btn-primary rounded-5 border-1 border-start-0 border-secondary" style="border-top-left-radius: 0!important; border-bottom-left-radius: 0!important; background-color: white!important;"><span class="bi-search text-dark"></span></button>
{{ form_end(barreDeRechercheForm) }}